body {
  background: #fff;
  height: 100vh;
}

#section_contacts {
  margin: 8rem auto;
}
a {
  text-decoration: none !important;
}
i {
  color: #28b463;
  font-weight: 600;
  font-size: 2rem;
  margin-right: 10px;
}
.contact {
  margin-top: 10px;
  padding: 15px;
  position: relative;
  border-left: 6px solid #28b463;
  transform: scale(1);
  background: #fff;
  transition: 1s;
  text-align: center;
}
.contact::before {
  content: "";
  position: absolute;
  background: #28b463;
  visibility: hidden;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: 0.7s;
}
.contact:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.contact a:hover {
  color: #28b463 !important;
}
.contact:hover {
  transform: scale(1.05);
}
