<div id="section_contacts">
    <h1 class="text-center">CONTACTS</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <div class="contact shadow">
                    <h4><i class="fab fa-whatsapp"></i><br>PHONE: <br><a href="#">333 333 3333</a></h4>
                </div>
            </div>
            <div class="col-md">
                <div class="contact shadow">
                    <h4><i class="far fa-envelope"></i><br>E-MAIL: <br><a href="#">mail@example.com</a></h4>
                </div>
            </div>
            <div class="col-md">
                <div class="contact shadow">
                    <h4><i class="fas fa-map-marker-alt"></i><br>ADDRESS: <br><a href="#">Italy</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>