<div class="col d-flex flex-wrap gap-3 p-5">

    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>

    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>

    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>

    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>

    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>
    <app-main-card></app-main-card>

</div>